[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "modules/gnome-solarized"]
	path = modules/gnome-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "modules/base16-gnome-terminal"]
	path = modules/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "vim/bundle/tern_for_vim"]
	path = vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "modules/base16-builder"]
	path = modules/base16-builder
	url = https://github.com/chriskempson/base16-builder.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "modules/mintty-color-schemes"]
	path = modules/mintty-color-schemes
	url = https://github.com/oumu/mintty-color-schemes.git
[submodule "vim/bundle/vim-slim"]
	path = vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-rubocop"]
	path = vim/bundle/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-orgmode"]
	path = vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
