[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "modules/gnome-solarized"]
	path = modules/gnome-solarized
	url = https://github.com/sigurdga/gnome-terminal-colors-solarized.git
